.main-text {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFF00;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#centerMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#centerMenu img:first-child{
    margin-left: 10px;
}

#centerMenu img{
    margin-right: 50px;
}

#centerMenu img:last-child{
    margin-right: 0;
}

main {
    margin: 0 auto;
}

body {
    background-image: url(/VHS-Puppet-Combo-Style/images/vhs-bg.gif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}